.inner-fieldset__legend {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 0 0 0 10px;
  margin: 0 0 5px 0;
}

.inner-fieldset__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.inner-fieldset__input {
  color: #6E6893;
  padding: 7px;
  font-size: 14px;
}

.inner-fieldset__label {
  height: 40px;
  width: 40px;
}

.inner-fieldset__checkbox:before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #F4F2FF;
  border-radius: 6px;
}

.inner-fieldset__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 7px;
  width: 23px;
  height: 11px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.inner-fieldset__checkbox:checked:after {
  opacity: 1;
}

.inner-fieldset__label_width {
 width: 100%;
}

.inner-fieldset__input_styles {
  border: none;
  height: 40px;
  border-radius: 6px;
  width: 100%;
  position: relative;
}

.inner-fieldset__input_active {
  background-color: #E5E5E5;
}
