.overlay {
  padding: 32px 105px;
  margin: auto;
  max-width: 792px;
  background-color: var(--powder, #F2F0F9);
  box-shadow: var(--overlay, 0 0 6px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 680px) {
  .overlay {
    /*margin: unset;*/
    padding: 32px 32px;
    max-width: 100%;
  }
}
