.form {
  display: flex;
  flex-direction: column;
  gap: 32px 90px;
}

.form__fieldset {
  display: grid;
  gap: 12px 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto) 60px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--white, #FFFFFF);
  box-shadow: var(--crm-border, 0 0 5px rgba(0, 0, 0, 0.2));
  border: none;
  border-radius: 8px;
  padding: 28px;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .form__fieldset {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 490px) {
  .form__fieldset {
    padding: 16px;
  }
}
