.crm-total {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  border-bottom: 1px solid var(--light-pink, #C6C2DE);
  height: 40px;
}

.crm-total__title {
  font-weight: 700;
  font-size: 24px;
}

.crm-total__price {
  font-weight: 500;
  font-size: 14px;
}

.crm-total__span {
  color: var(--cold-purple, #6D5BD0);
  font-weight: 700;
  font-size: 18px;
}

@media screen and (max-width: 425px) {
  .crm-total__price {
    font-weight: 500;
    font-size: 12px;
    text-align: right;
  }

  .crm-total__span {
    display: block;
  }
}
