@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  color: #6E6893;
  background-color: #F4F2FF;
}

textarea:focus, input:focus{
  outline: none;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
