.error-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 32px 105px;
  max-width: 792px;
  background-color: var(--powder, #F2F0F9);
  box-shadow: var(--overlay, 0 0 6px rgba(0, 0, 0, 0.25));
  z-index: 9999;
}

.error-message.show {
  display: block;
}

.error-message__close {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 4px;
  font-size: 31px;
  display: inline-block;
}

.error-message__close-button {
  transition: stroke 0.4s ease;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .error-message {
    padding: 20px 35px;
  }
}
